/*********  FUENTE   *********/
@font-face {
    font-family: estiloJapo;
    src: url(../fuentes/HIROMISAKE.ttf);
}


/********* HEADER *********/
header{
    background-color: #fff;
}

header a img{
    padding-left: 20px;
    padding-top: 20px;
}

header a{
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
}



header h1{
    display: inline-block;
    font-size: 80px;
    font-family: estiloJapo;
    color: #E8630A;
    padding-left: 150px;
    margin-bottom: 20px;
    text-shadow: black 5px 1px 0.05em;
    text-align:center;
}

header h2{
    display: inline-block;
    font-size: 40px;
    color: #E8630A;
    font-style: italic;
    font-family: 'Square Peg', cursive;
    padding-left: 15px;
    text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
}

header nav ul li{
    display: inline-block;
}

header nav ul{
    background-color: #E8630A;
    height: 50px;
}

header nav ul li a{
    /*color: #E8630A;*/
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: estiloJapo;
    font-size: 20px;
    padding: 15px 100px 10px 100px;
}

header nav ul li:hover{
    background-color: #E8630A;
}

header nav ul li a:hover{
    color: orange;
}

/**     BANNER      **/
.banner{
    background-image: url(../img/rengoku.png);
    background-attachment: fixed;
    background-position: center;
    height: 400px;
}

/**     BUSCADOR    **/
.buscador{
    background-color: #E8630A;
    height: 50px;
}

.buscador div{
    padding-left: 850px;
    padding-top: 15px;
}

/**     MAS VENDIDOS    **/
.masVendidos{
    background-color: #fff;
}

.masVendidos h2{
    font-size: 50px;
    text-align: center;
    padding: 50px 0 20px 0;
    font-family: estiloJapo;
    color: #E8630A;
    text-shadow: 1px 1px 0.05em #333;
    
    /*background-color: #333;*/
}

.masVendidos article{
    display: inline-block;
    margin: 10px 100px 10px 100px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 14px 40px 10px 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.masVendidos article img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.masVendidos article img:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
}

.masVendidos article h3{
    padding: 10px 0 0 0px;
    font-size: 15px;
    font-family: 'Comic Neue';
}

.botonComprar {
    background-color: #E8630A;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}

.botonComprar:hover{
    background-color: #ab4a0a;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

/**     LANZAMIENTOS RECIENTES      **/
.lanzamientosRecientes h2{
    font-size: 50px;
    text-align: center;
    padding: 100px 0 20px 0;
    font-family: estiloJapo;
    color: #E8630A;
    text-shadow: 1px 1px 0.05em #333
}

.lanzamientosRecientes{
    background-color: #fff;
    padding-bottom: 50px;
}

.lanzamientosRecientes article{
    display: inline-block;
    margin: 10px 100px 10px 100px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 14px 40px 10px 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.lanzamientosRecientes article img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.lanzamientosRecientes article img:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
}

.lanzamientosRecientes article h3{
    padding: 10px 0 0 0px;
    font-size: 15px;
    font-family: 'Comic Neue';
}


/**     FOOTER      **/
footer{
    background-color: orange;
}

footer .redesSociales{
    display: inline-block;
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    font-family: 'Comic Neue';
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .redesSociales article h3{
    padding: 6px;
}

footer .mediosDePago{
    display: inline-block;
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    font-family: 'Comic Neue';
}

footer .mediosDePago article h3{
    padding: 6px;
}

footer .direccion{
    display: inline-block;
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    font-family: 'Comic Neue';
}

footer .direccion article h3{
    padding: 6px;
}

footer .direccion article h4{
    display: inline-block;
}

footer .derechos{
    text-align: center;
    background-color: #E8630A;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Comic Neue';
}

