/*********  FUENTE   *********/
@font-face {
    font-family: estiloJapo;
    src: url(../fuentes/HIROMISAKE.ttf);
}


/********* HEADER *********/
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
    "encabezado encabezado ."
    "nav nav nav";
}

header .encabezado{
    grid-area: encabezado;
    justify-content: space-around;
    display: flex;
}

header .titulo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
    gap: 10px;
}

header nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E8630A;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23b8500a' fill-opacity='0.32' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header nav .navbar{
    display: flex;
    justify-content: space-evenly;
}


.navbar li{
    display: flex;
}

.navbar li a{
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    font-family: estiloJapo;
    font-size: 20px;
}

header .logo{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0;
}

header h1{
    font-size: 70px;
    font-family: estiloJapo;
    color: #E8630A;
    text-shadow: black 5px 1px 0.05em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2{
    font-size: 40px;
    font-family: 'Square Peg', cursive;
    color: #E8630A;
    text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
    font-style: italic;
}

.navbar li a:hover{
    color: orange;
}

/**     BANNER      **/
.banner{
    background-image: url(../img/rengoku.png);
    background-attachment: fixed;
    background-position: center;
    height: 400px;
}

/**     BUSCADOR    **/
.buscador{
    background-color: #e8630a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23b8500a' fill-opacity='0.32' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.barraBusqueda{
    padding: 8px 10px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #6d3007;
    outline: none;
}

.botonBuscar{
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #6d3007;
    margin-left: 10px;
}

/**     MAS VENDIDOS    **/
.masVendidos{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulos{
    display: flex;
    justify-content: center;
}

.masVendidos h2{
    font-size: 50px;
    padding: 30px 0 20px 0;
    font-family: estiloJapo;
    color: #E8630A;
    text-shadow: 1px 1px 0.05em #333;
}

.masVendidos article{
    margin: 10px 100px 10px 100px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 14px 40px 10px 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.masVendidos article img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.masVendidos article img:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
}

.masVendidos article h3{
    padding: 10px 0 0 0px;
    font-size: 15px;
    font-family: 'Comic Neue';
}

.botonComprar {
    background-color: #E8630A;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}

.botonComprar:hover{
    background-color: #ab4a0a;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

/**     LANZAMIENTOS RECIENTES      **/


.lanzamientosRecientes h2{
    font-size: 50px;
    padding: 30px 0 20px 0;
    font-family: estiloJapo;
    color: #E8630A;
    text-shadow: 1px 1px 0.05em #333
}

.lanzamientosRecientes{
    background-color: #fff;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lanzamientosRecientes article{
    margin: 10px 100px 10px 100px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 14px 40px 10px 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.lanzamientosRecientes article img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.lanzamientosRecientes article img:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
}

.lanzamientosRecientes article h3{
    padding: 10px 0 0 0px;
    font-size: 15px;
    font-family: 'Comic Neue';
}


/**     FOOTER      **/
footer{
    background-color: orange;
    display: flex;
    flex-direction: column;
    
}

.info{
    display: flex;
    justify-content:center;
}

footer .redesSociales{
    text-align: center;
    font-family: 'Comic Neue';
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .redesSociales article h3{
    padding: 6px;
}

footer .mediosDePago{
    text-align: center;
    font-family: 'Comic Neue';
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .mediosDePago article h3{
    padding: 6px;
}

footer .direccion{
    text-align: center;
    font-family: 'Comic Neue';
    padding-top: 10px;
    padding-bottom: 10px;
}

.direccion article h4{
    display: inline;
}

footer .direccion article h3{
    padding: 6px;
}

footer .derechos{
    text-align: center;
    background-color: #E8630A;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Comic Neue';
}

.seccionesDeFooter{
    padding: 0 100px 0 100px;
}

/*****          FORM DE CONTACTO            ****/
.sectionForm{
    height: 604px;
    display: flex;
    justify-content: center;
    background-image: url(../img/rengoku.png);
    background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
}


.cuadroFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-size: cover;
    padding: 40px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    
}

.cuadroFormulario textarea{
    padding-bottom: 100px;
}

.cuadrosDeInformacion{
    padding-bottom: 5px 0 5px 0;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Comic Neue';
    resize: none;
}

.botonEnviar{
    width: 100%;
    background-color: #E8630A;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.botonEnviar:hover{
    cursor: pointer;
    color: orange;
}

/*****      SOBRE NOSOTROS      *****/

.nosotros{
    background-image: url(../img/fondo-goku.jpg);
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros p{
    padding: 0 100px;
    font-family: estiloJapo;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}