.buscador{
    background-color: map-get($colores , "naranja" );
    background-image: map-get($colores , "panal" );
    background-attachment: fixed;
}

.d-flex{
    padding: 1vw 0;
}

.btn-danger{
    font-family: 'Comic Neue';
    background: orange;
    color: white;
}