.buscador{
    background-color: $naranja-manga;
    background-image: $panal;
    background-attachment: fixed;
}

.d-flex{
    padding: 1vw 0;
}

.btn-danger{
    font-family: 'Comic Neue';
    background: orange;
    color: white;
}